<header>
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <img src="https://cdn-icons-png.flaticon.com/128/10920/10920252.png" class="me-2" alt="LogoSito" height="50" />
            <a class="navbar-brand text-light" href="#">Videogames House</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Index","Customer")">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Create","Manage")">Aggiungi Videogioco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Index","Manage")">Admin</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu p-1">
                            <partial name="_LoginPartial" />
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>