@model VideogameModel

<div class="container bg-secondary-subtle shadow-lg rounded border-black my-5 p-3">

    <h2 class="mb-3">Aggiungi videogioco</h2>

    <form asp-controller="Manage" asp-action="Create" method="post">

        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Nome</label>
            <input asp-for="Name" type="text" class="form-control rounded" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">Descrizione</label>
            <textarea asp-for="Description" rows="10" class="form-control rounded"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImgUrl" class="form-label">URL Immagine</label>
            <input asp-for="ImgUrl" type="text" class="form-control rounded" required>
            <span asp-validation-for="ImgUrl" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label">Prezzo</label>
            <input asp-for="Price" type="text" class="form-control rounded" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary bg-redText">Salva</button>

    </form>
