@model VideogameModel

<form asp-controller="Manage" asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" style="height: 2.5rem;" class="btn btn-primary bg-redText">Delete</button>
</form>